<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dseplugin -->
      <package
            uri="org.eclipse.viatra.dse.dsl.dseexecutionmodel"
            class="org.eclipse.viatra.dse.dsl.model.DseexecutionmodelPackage"
            genModel="model/dseplugin.genmodel"/>
   </extension>

</plugin>
